Repository nanne-aben/strictly_typed_pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy, black, pytest

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: system
  require_serial: true

pytest:
  name: pytest
  entry: coverage run -m pytest --typeguard-packages=strictly_typed_pandas,tests
  language: system
  pass_filenames: false

switch from papermill to nbconvert
  .github/workflows/build.yml
  requirements-dev.txt
Due: none

fixing the ci/cd, minor changes to notebook lay-out
  .github/workflows/build.yml
  docs/source/advanced.ipynb
  docs/source/deepdive_into_dtypes.ipynb
  docs/source/getting_started.ipynb
Due: black

Update ci/cd to Python 3.12 (#94)
  .github/workflows/build.yml
  docs/source/advanced.ipynb
  docs/source/deepdive_into_dtypes.ipynb
  docs/source/getting_started.ipynb
  requirements-dev.txt
Due: black

isort
  .github/workflows/build.yml
  .pre-commit-config.yaml
  pyproject.toml
  requirements-dev.txt
  setup.py
  strictly_typed_pandas/__init__.py
  strictly_typed_pandas/create_empty_dataframe.py
  strictly_typed_pandas/dataset.py
  strictly_typed_pandas/immutable.py
  strictly_typed_pandas/validate_schema.py
  tests/test_dataset.py
  tests/test_indexed_dataset.py
  tests/test_type_validation.py
Due: flake8, mypy, black, pytest

isort (#101)
  .github/workflows/build.yml
  .pre-commit-config.yaml
  pyproject.toml
  requirements-dev.txt
  setup.py
  strictly_typed_pandas/__init__.py
  strictly_typed_pandas/create_empty_dataframe.py
  strictly_typed_pandas/dataset.py
  strictly_typed_pandas/immutable.py
  strictly_typed_pandas/validate_schema.py
  tests/test_dataset.py
  tests/test_indexed_dataset.py
  tests/test_type_validation.py
Due: flake8, mypy, black, pytest

docformatter
  .github/workflows/build.yml
  requirements-dev.txt
  strictly_typed_pandas/dataset.py
Due: flake8, mypy, black, pytest

docformatter (#103)
  .github/workflows/build.yml
  requirements-dev.txt
  strictly_typed_pandas/dataset.py
Due: flake8, mypy, black, pytest

Update to pandas 2.1.2
  requirements.txt
  strictly_typed_pandas/dataset.py
Due: flake8, mypy, black, pytest

Update to pandas 2.1.2
  strictly_typed_pandas/dataset.py
Due: flake8, mypy, black, pytest

import from typing_extensions
  strictly_typed_pandas/dataset.py
Due: flake8, mypy, black, pytest

remove args and kwargs type annotations, they do not work with typeguard for older versions of python
  strictly_typed_pandas/dataset.py
Due: flake8, mypy, black, pytest

convert dataset to dataframe when calling a dataframe function, such that the immutable option does not become a problem
  strictly_typed_pandas/dataset.py
Due: flake8, mypy, black, pytest

Update to pandas 2.1.2 (#108)
  requirements.txt
  strictly_typed_pandas/dataset.py
Due: flake8, mypy, black, pytest

Add clearer error message for a missing index.
  strictly_typed_pandas/dataset.py
  tests/test_indexed_dataset.py
Due: flake8, mypy, black, pytest

Add clearer error message for a missing index. (#116)
  strictly_typed_pandas/dataset.py
  tests/test_indexed_dataset.py
Due: flake8, mypy, black, pytest

Fix a recursion error
  strictly_typed_pandas/dataset.py
Due: flake8, mypy, black, pytest

Fix pickle bug
  strictly_typed_pandas/dataset.py
  tests/test_dataset.py
Due: flake8, mypy, black, pytest

Fix pickle bug (#119)
  strictly_typed_pandas/dataset.py
  tests/test_dataset.py
Due: flake8, mypy, black, pytest

Update requirements-dev.txt
  requirements-dev.txt
Due: none

Vendor typeguard 2.13.3 in its original form.
  .flake8
  .pre-commit-config.yaml
  requirements.txt
  setup.py
  strictly_typed_pandas/_vendor/__init__.py
  strictly_typed_pandas/_vendor/typeguard-2.13.3.dist-info/INSTALLER
  strictly_typed_pandas/_vendor/typeguard-2.13.3.dist-info/LICENSE
  strictly_typed_pandas/_vendor/typeguard-2.13.3.dist-info/METADATA
  strictly_typed_pandas/_vendor/typeguard-2.13.3.dist-info/RECORD
  strictly_typed_pandas/_vendor/typeguard-2.13.3.dist-info/REQUESTED
  strictly_typed_pandas/_vendor/typeguard-2.13.3.dist-info/WHEEL
  strictly_typed_pandas/_vendor/typeguard-2.13.3.dist-info/entry_points.txt
  strictly_typed_pandas/_vendor/typeguard-2.13.3.dist-info/top_level.txt
  strictly_typed_pandas/_vendor/typeguard/__init__.py
  strictly_typed_pandas/_vendor/typeguard/importhook.py
  strictly_typed_pandas/_vendor/typeguard/py.typed
  strictly_typed_pandas/_vendor/typeguard/pytest_plugin.py
  strictly_typed_pandas/pytest_plugin.py
  strictly_typed_pandas/typeguard.py
  vendorize.toml
Due: flake8, mypy, black, pytest

Inject code theoretically compatible with another injection from another typeguard version.
  strictly_typed_pandas/_vendor/typeguard/importhook.py
Due: flake8, mypy, black, pytest

Allow typeguard to be installed at same time.
  .pre-commit-config.yaml
  strictly_typed_pandas/pytest_plugin.py
Due: flake8, mypy, black, pytest

Remove namespace changes to vendored code, keep only the updated import change.
  strictly_typed_pandas/_vendor/typeguard/importhook.py
Due: flake8, mypy, black, pytest

Use external typeguard if compatible
  .pre-commit-config.yaml
  strictly_typed_pandas/typeguard.py
Due: flake8, mypy, black, pytest

Remove accidentally commited config file
  .flake8
Due: none

Add excludes to all static tool configs
  pyproject.toml
  tox.ini
Due: none

Update github build workflow
  .github/workflows/build.yml
Due: none

Fix type annotation incompatible with Python 3.8
  strictly_typed_pandas/pytest_plugin.py
Due: flake8, mypy, black, pytest

Add some more tests to the github build workflow
  .github/workflows/build.yml
Due: none

Update reference to typechecked decorator in notebook
  docs/source/getting_started.ipynb
Due: black

Update docs to recommend safer --stp-typeguard-packages pytest option
  README.rst
  docs/source/getting_started.ipynb
  strictly_typed_pandas/dataset.py
Due: flake8, mypy, black, pytest

add documentation
  docs/source/index.rst
  docs/source/typeguard.md
Due: none

Vendor typeguard 2.13.3 (#142)
  .github/workflows/build.yml
  .pre-commit-config.yaml
  README.rst
  docs/source/getting_started.ipynb
  docs/source/index.rst
  docs/source/typeguard.md
  pyproject.toml
  requirements.txt
  setup.py
  strictly_typed_pandas/_vendor/__init__.py
  strictly_typed_pandas/_vendor/typeguard-2.13.3.dist-info/INSTALLER
  strictly_typed_pandas/_vendor/typeguard-2.13.3.dist-info/LICENSE
  strictly_typed_pandas/_vendor/typeguard-2.13.3.dist-info/METADATA
  strictly_typed_pandas/_vendor/typeguard-2.13.3.dist-info/RECORD
  strictly_typed_pandas/_vendor/typeguard-2.13.3.dist-info/REQUESTED
  strictly_typed_pandas/_vendor/typeguard-2.13.3.dist-info/WHEEL
  strictly_typed_pandas/_vendor/typeguard-2.13.3.dist-info/entry_points.txt
  strictly_typed_pandas/_vendor/typeguard-2.13.3.dist-info/top_level.txt
  strictly_typed_pandas/_vendor/typeguard/__init__.py
  strictly_typed_pandas/_vendor/typeguard/importhook.py
  strictly_typed_pandas/_vendor/typeguard/py.typed
  strictly_typed_pandas/_vendor/typeguard/pytest_plugin.py
  strictly_typed_pandas/dataset.py
  strictly_typed_pandas/pytest_plugin.py
  strictly_typed_pandas/typeguard.py
  tox.ini
  vendorize.toml
Due: flake8, mypy, black, pytest

Update and rename typeguard.md to typeguard.rst
  docs/source/typeguard.md
  docs/source/typeguard.rst
Due: none

Update and rename typeguard.md to typeguard.rst (#146)
  docs/source/typeguard.md
  docs/source/typeguard.rst
Due: none

Update docs/requirements.txt
  docs/requirements.txt
Due: none

Update requirements.txt
  docs/requirements.txt
Due: none

Update docs/requirements.txt (#162)
  requirements-dev.txt
Due: none

Update dataset.py
  strictly_typed_pandas/dataset.py
Due: flake8, mypy, black, pytest

Path conditions:
  flake8: any of: \.py$
  mypy: any of: \.py$
  black: any of: \.(py|ipynb)$
  pytest: any of: \.py$
